
    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="container">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="/">
                        <img src="assets/images/icons8-burp-suite-500-96x96.png" alt="Mobirise Website Builder" style="height: 3rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-7" href="/">Burp finance</a></span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-black display-4" href="/about">
                            About DeFi</a></li><li class="nav-item"><a class="nav-link link text-black display-4" href="/investor-relations">Investor Relation</a></li><li class="nav-item"><a class="nav-link link text-black display-4" href="/Burp_Finance_white_Paper.pdf" target="_blank">White Paper</a></li>
                    
                    <li class="nav-item dropdown"><a class="nav-link link text-black dropdown-toggle display-4" href="/asset-management" data-toggle="dropdown-submenu" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">DeFi Products</a><div class="dropdown-menu" aria-labelledby="dropdown-790"><a class="text-black dropdown-item display-4" href="/asset-management">Asset Management</a><a class="text-black show dropdown-item display-4" href="/defi-ventures">Defi Ventures</a><a class="text-black show dropdown-item display-4" href="defi-governance">DeFi Governamce</a><a class="text-black show dropdown-item display-4" href="/defi-treasury"><span class="mobi-mbri mobi-mbri-cash mbr-iconfont mbr-iconfont-btn"></span>Defi Treasury</a></div>
                    </li></ul>
                
                <div class="navbar-buttons mbr-section-btn"><a class="btn btn-primary display-4" href="/users/login">Log in</a> <a class="btn btn-primary display-4" href="/users/register">Sign up</a></div>
            </div>
        </div>
    </nav>