<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.6.13, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.6.13, mobirise.com">
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:image:src" content="">
  <meta property="og:image" content="">
  <meta name="twitter:title" content="governance">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/icons8-burp-suite-500-96x96.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>governance</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
  
  <section data-bs-version="5.1" class="menu menu2 cid-tpPwtm2pqm" once="menu" id="menu2-14">
    <% include ./partials/nav %>
</section>

<section data-bs-version="5.1" class="header6 cid-ttofVcwjJd" id="header6-16">

    

    
    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);"></div>

    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1"><strong>DeFi Governance!</strong></h1>
                
                <p class="mbr-text mbr-white mbr-fonts-style display-7">Our company is uniquely positioned to fulfill this emerging need in the marketplace.&nbsp;As the only public company dedicated to the DeFi space</p>
                <div class="mbr-section-btn mt-3"><a class="btn btn-danger display-4" href="/users/register">Create Your Website!</a></div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features15 cid-ttofW0qIdB" id="features16-17">

    

    
    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-2"><strong>What is DeFi Governance?</strong></h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">Providing independent governance for decentralized networks to run independent nodes that will validate transactions.<br><br>As more Decentralized Finance applications seek to improve the way their projects are governed by their respective token holders a need has emerged for independent governance.</p>
                        <div class="mbr-section-btn mt-3"><a class="btn btn-primary display-4" href="/users/register">Learn more</a></div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/1024-2.webp" alt="Mobirise Website Builder">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features16 cid-ttofWpst5O" id="features17-18">
    

    
    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg-5">
                    <div class="image-wrapper">
                        <img src="assets/images/1536.webp" alt="Mobirise Website Builder">
                    </div>
                </div>
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-5"><strong>Our DeFi Governance offering</strong></h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">The best way to think of it is similar to a public company opting to install independent board members. The DeFi Governance product will work with decentralized networks to run independent nodes that will validate transactions and provide governance on the network.<br><br>As the only public company dedicated to the DeFi space, our company is uniquely positioned to fulfill this emerging need in the marketplace.</p>
                        <div class="mbr-section-btn mt-3">
                            <a class="btn btn-primary display-4" href="/users/register">
                                Learn more
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section data-bs-version="5.1" class="footer1 cid-tpPwBuJlIi" once="footers" id="footer1-4">

    <% include ./partials/footer %>
</section><section class="display-7" style="padding: 0;align-items: center;justify-content: center;flex-wrap: wrap;    align-content: center;display: flex;position: relative;height: 4rem;"><a href="https://mobiri.se/" style="flex: 1 1;height: 4rem;position: absolute;width: 100%;z-index: 1;"><img alt=" Web Site  Builder Software" style="height: .1rem;" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="></a><p style="margin: 0;text-align: center; display: none" class="display-7">Made with Mobirise &#8204;</p><a style="z-index:1; display: none;" href="https://mobirise.com/website-maker.html">Website Maker</a></section><script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/ytplayer/index.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/theme/js/script.js"></script>  
  
  
</body>
</html>