<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.6.13, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.6.13, mobirise.com">
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:image:src" content="">
  <meta property="og:image" content="">
  <meta name="twitter:title" content="investor relations">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/icons8-burp-suite-500-96x96.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>investor relations</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
  
  <section data-bs-version="5.1" class="menu menu2 cid-tpPwtm2pqm" once="menu" id="menu2-n">
    <% include ./partials/nav %>
</section>

<section data-bs-version="5.1" class="header6 cid-ttob788WJR" id="header6-q">

    

    
    <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(0, 0, 0);"></div>

    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1"><strong>COMPANY </strong></h1>
                
                <p class="mbr-text mbr-white mbr-fonts-style display-7">
                    We bridge the gap between traditional capital markets and decentralized finance.
                </p>
                
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="tabs content18 cid-ttoaZsW6Uq" id="tabs1-p">

    

    
    
    <div class="container">
        
        <div class="row justify-content-center mt-4 mb-5">
            <div class="col-12 ">
                <ul class="nav nav-tabs mb-4" role="tablist">
                    <li class="nav-item first mbr-fonts-style"><a class="nav-link mbr-fonts-style show active display-7" role="tab" data-toggle="tab" data-bs-toggle="tab" href="#tabs1-p_tab0" aria-selected="true"><strong>Investor Relations</strong></a></li>
                    <li class="nav-item"><a class="nav-link mbr-fonts-style active display-7" role="tab" data-toggle="tab" data-bs-toggle="tab" href="#tabs1-p_tab1" aria-selected="true"><strong>Mission and Vision</strong></a></li>
                    <li class="nav-item"><a class="nav-link mbr-fonts-style active display-7" role="tab" data-toggle="tab" data-bs-toggle="tab" href="#tabs1-p_tab2" aria-selected="true"><strong>Partners</strong></a></li>
                    
                    
                    
                </ul>
                <div class="tab-content">
                    <div id="tab1" class="tab-pane in active" role="tabpanel">
                        <div class="row">
                            <h4 class="mbr-section-subtitle mbr-fonts-style mb-4 display-5" style="color: #5b53a2;">
                                Investor Relations
                            </h4>
                            <div class="col-12 col-md">
                
                                <p class="mbr-text mbr-fonts-style display-7">
                                    Collectively our three-prong approach allows our shareholders to share in the growth of increased investor fund flows into DeFi through our “DeFi Asset Management”. In addition to the establishment of governance on decentralized networks through DeFi Governance. Plus exposure to the potentially explosive growth of the projects we take early stakes in, with our DeFi Venture program.
                                    <br><br>
                                    DeFi Governance secure relationships with independent third parties to enter their governance systems.
                                    <br><br>
                                    As more Decentralized Finance applications seek to improve the way their projects are governed by their respective token holders a need has emerged for independent governance.
                                </p>
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <p class="mbr-text mbr-fonts-style display-7"> DeFi protocols are the future of finance but unfortunately, unless you are deeply immersed in the space you have no idea what protocols are worth following let alone what protocols are worth investing in.
                                    <br><br>
                                    DeFi Venture, identify and invest in revolutionary DeFi protocols. It’s estimated the global financial system sucks out 6% of the world's GDP each year. That’s over $8 trillion per year. The DeFi boom has already started funneling some of that $8 trillion into the hands of DeFi users.
                                    <br><br>
                                    Enabling corporations to allocate part of their Treasury reserves into DeFi protocols that are currently yielding anywhere from 3% to 15%.</p>
                            </div>
                        </div>
                    </div>
                    <div id="tab2" class="tab-pane" role="tabpanel">

                <section data-bs-version="5.1" class="content5 cid-ttod5kTjv1" id="content5-t">
    
                 <div class="container">
                 <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-10">
                
                     <h4 class="mbr-section-subtitle mbr-fonts-style mb-4 display-5">
                    Mission & Vision
                    </h4>
                     <p class="mbr-text mbr-fonts-style display-7">
                    Burp Finance, is a Canadian publicly listed company focused on helping institutional and retail investors navigate the complex, hyper-growth disruptive world of Decentralised Finance and digital assets.</p>
                    </div>
              </div>
             </div>
            </section>
                        <section data-bs-version="5.1" class="features15 cid-ttocU4YiBx" id="features16-r">
    
                            <div class="container">
                                <div class="content-wrapper">
                                    <div class="row align-items-center">
                                        <div class="col-12 col-lg">
                                            <div class="text-wrapper">
                                                <h6 class="card-title mbr-fonts-style display-2">
                                                    <strong>Mission</strong>
                                                </h6>
                                                <h6 class="mbr-text mbr-fonts-style display-5">
                                                    Bringing decentralised finance to everyone
                        
                                                </h6>
                                                <p class="mbr-text mbr-fonts-style mb-4 display-4">
                                                    Burp Finance aims to be the digital asset investment firm of choice. We have super ambitious growth plans which will be delivered on, by combining our deep expertise in digital assets and emerging technologies with investment and risk management best practices from leading traditional financial institutions.
                                                    <br><br>
                                                We offer investors access to decentralised finance without any of the operational complexities or technical risks associated with direct investmen.</p>
                                                <div class="mbr-section-btn mt-3">
                                                    <a class="btn btn-primary display-4" href="/users/register">Learn more</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="image-wrapper">
                                                <img src="assets/images/mission.png" alt="Mobirise Website Builder">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        
                        <section data-bs-version="5.1" class="features16 cid-ttoje9twdu" id="features17-1e">
                            
                        
                            
                            
                            <div class="container">
                                <div class="content-wrapper">
                                    <div class="row align-items-center">
                                        <div class="col-12 col-lg-6">
                                            <div class="image-wrapper">
                                                <img src="assets/images/vision.png" alt="Mobirise Website Builder">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg">
                                            <div class="text-wrapper">
                                                <h6 class="card-title mbr-fonts-style display-5">
                                                    <strong>Vision</strong>
                                                </h6>
                                                <p class="mbr-text mbr-fonts-style mb-4 display-4">
                                                    Burp Finance's products provide a way to invest with confidence, without compromising on the embedded standards required of traditional asset class investments.
                                                    <br><br>
                                                    Our existing offerings are simple listed products that enable investors to access the best opportunities in the digital asset space. Following their success on the NGM stock exchange in Sweden, we are continuing our growth trajectory, bringing innovative products to investors across Europe and USA.</p>
                                                <div class="mbr-section-btn mt-3">
                                                    <a class="btn btn-primary display-4" href="/users/register">
                                                        Learn more
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div id="tab3" class="tab-pane" role="tabpanel">
                       
<section data-bs-version="5.1" class="clients1 cid-ttojgVvEzB" id="clients1-1f">
    
    <div class="images-container container">
        <div class="mbr-section-head">
            
            
            
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-md-3 card">
                <img src="assets/images/1.jpeg" alt="Mobirise Website Builder">
            </div>
            <div class="col-md-3 card">
                <img src="assets/images/2.jpeg" alt="Mobirise Website Builder">
            </div>
            <div class="col-md-3 card">
                <img src="assets/images/3.jpeg" alt="Mobirise Website Builder">
            </div>
            <div class="col-md-3 card">
                <img src="assets/images/4.jpeg" alt="Mobirise Website Builder">
            </div>
            <div class="col-md-3 card">
                <img src="assets/images/5.jpeg" alt="Mobirise Website Builder">
            </div>
            
        </div>
    </div>
</section>
                    </div>
                    
                    
                    
                </div>
            </div>
        </div>
    </div>
</section>






<section data-bs-version="5.1" class="footer1 cid-tpPwBuJlIi" once="footers" id="footer1-o">

    

    
    <div class="container">
        <div class="row mbr-white">
            <div class="col-12 col-md-6 col-lg-3">
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                    <strong>Contact</strong>
                </h5>
                <ul class="list mbr-fonts-style display-4">
                    <ul class="list mbr-fonts-style display-4">
                        <li class="mbr-text item-wrap">mail@burpfinance.com</li>
                        <li class="mbr-text item-wrap"> (813) 521-8634</li>
                        <li class="mbr-text item-wrap">4100 Ross Street Calhoun, Florida, USA</li>
                       
                    </ul>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                    <strong>Themes</strong>
                </h5>
                <ul class="list mbr-fonts-style display-4">
                    <a href="/privacy-policy" class="mbr-text item-wrap"> <span style="color: #5b53a2;">&gt;</span> Privacy policy</a><br>
                    <a href="/term-and-condition" class="mbr-text item-wrap"> <span style="color: #5b53a2;">&gt;</span>  Terms and condition</a><br>
                    <a href="refund-policy" class="mbr-text item-wrap"><span style="color: #5b53a2;">&gt;</span>  Refund policy</a><br>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                    <strong>Qiuck Link</strong>
                </h5>
                <ul class="list mbr-fonts-style display-4">
                <a href="/" class="mbr-text item-wrap"><span style="color: #5b53a2;">&gt;</span>  Home </a> <br>
                    <a href="/about" class="mbr-text item-wrap"><span style="color: #5b53a2;">&gt;</span>  About us</a><br>         
                    <a href="/investor-relations" class="mbr-text item-wrap"><span style="color: #5b53a2;">&gt;</span> Investor relations</a><br>
                    <a href="/asset-management" class="mbr-text item-wrap"><span style="color: #5b53a2;">&gt;</span> Assset Management</a><br>
                    <a href="/defi-treasury" class="mbr-text item-wrap"><span style="color: #5b53a2;">&gt;</span> Defi Treasury</a><br>
    
                    
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                    <strong>About</strong>
                </h5>
                <p class="mbr-text mbr-fonts-style mb-4 display-4">
                    Burp Finance is a digital asset management and investment firm built to give investors direct exposure to the booming Decentralized Finance market.</p>
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-3 display-7">
                    <strong>Social</strong>
                </h5>
                <!-- <div class="social-row display-7">
                    <div class="soc-item">
                        <a href="/x" target="_blank">
                            <span class="mbr-iconfont socicon socicon-facebook"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://wa.me/message/QHUAGD6GL3BFO1" target="_blank">
                            <span class="mbr-iconfont socicon socicon-whatsapp"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://www.instagram.com/ventprise_financials" target="_blank">
                            <span class="mbr-iconfont socicon socicon-instagram"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://twitter.com/ventprise" target="_blank">
                            <span class="mbr-iconfont socicon socicon-twitter"></span>
                        </a>
                    </div>
                    
                   
                    
                </div> -->
            </div>
            
        </div>
    </div>
</section><section class="display-7" style="padding: 0;align-items: center;justify-content: center;flex-wrap: wrap;    align-content: center;display: flex;position: relative;height: 4rem;"><a href="https://mobiri.se/" style="flex: 1 1;height: 4rem;position: absolute;width: 100%;z-index: 1;"><img alt="Mobirise.com" style="height: 4rem;" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="></a><p style="margin: 0;text-align: center; z-index:-1" class="display-7" >Built with Mobirise &#8204;</p><a style="z-index:-1" href="https://mobirise.com/offline-website-builder.html">Offline Web Page Software</a></section><script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/ytplayer/index.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/mbr-tabs/mbr-tabs.js"></script>  <script src="assets/theme/js/script.js"></script>  
  
<% include ./partials/chat %>
</body>
</html>